 .naglowek{
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: bisque;

  
 }
 .glowna{
  width: 100%;
  padding: 10px;
  height: 500px;

 }
 .stopa{
  padding: 10px;
  width: 100%;
  height: 150px;
  background-color: bisque;

}
