.naglowek{
  text-decoration: underline;
}
.etykieta{
  border-top: 2px solid white;
  border-bottom: 2px solid red;
}
.mainPage{
  float: left;
}
.shoppingCart{
  float: left;
}
.contact{
  float: right;
}

.mainPage , .contact , .shoppingCart {
  text-decoration: none;
  color: white;
  
}
.navBar{
  padding: 20px;
<<<<<<< HEAD
  background-color:grey ;
=======
  background-color:gray ;
>>>>>>> 31af648cc3d94ab6f41134915181e54aafd7742b
}