.naglowek{
  text-decoration: underline;
}
.etykieta{
  border-top: 2px solid white;
  border-bottom: 2px solid red;
}
.mainPage{
  float: left;
}
.shoppingCart{
  float: left;
}
.contact{
  float: right;
}

.mainPage , .contact , .shoppingCart {
  text-decoration: none;
  color: white;
  
}
.navBar{
  padding: 20px;
  background-color:grey ;
  background-color:gray ;

}